
body {
font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
color: rgb(50, 50, 50);
background-color: #F2F2F2;
} 

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
 }  

.card  {
    border-radius:5px;
    box-shadow: 2px 2px 2px lightgrey;
}

